version: "3.9"

services:
  finance-app:
    image: finance-tracker
    container_name: finance_app
    ports:
      - "8080:8080"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    restart: unless-stopped
